#mints{
    background-image: url("../images/nft-bg.png");
    background-position: center;
    background-size: cover;
    background-color: #000;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    align-items: center;
    justify-content: center;
    margin: 0 !important;
}


#mints .title{
    font-size: 46px;
}

#mints .mint-now{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50px;    
    background-color: #A981FF;
    text-decoration: none;
    color: #fff;
    border-radius: 12px;
}

.mint-container{
    height: 70vh;
}

@media screen and (max-width: 768px) {

    .logo{
        width: 150px;
        height: 50px;
        object-fit: contain;
        object-position: center;
    }

    #mints{
        min-height: 100vh;
        justify-content: flex-end;
        background-image: url("../images/nft-mobile-bg.png");
    }
    .mint-container{
        height: auto;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
    }

    #mints .title{
        font-size: 36px;
    }

    #mints .mint-now{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 50px;
        background-color: #A981FF;
        text-decoration: none;
        color: #fff;
        border-radius: 12px;
    }
}