@font-face {
    font-family: "Eurostile_Black";
    src: url("../fonts/Eurostile_Font_Family/Eurostile_Black.otf");
}

@font-face {
    font-family: "Eurostile_Bold";
    src: url("../fonts/Eurostile_Font_Family/Eurostile_Bold.otf");
}

@font-face {
    font-family: "Eurostile_Extd";
    src: url("../fonts/Eurostile_Font_Family/Eurostile_Extd_Black.otf");
}

@font-face {
    font-family: "Sofia_Pro_Black";
    src: url("../fonts/Sofia_Pro_Font_Family/Sofia_Pro_Black.otf");
}

@font-face {
    font-family: "Sofia_Pro_Bold";
    src: url("../fonts/Sofia_Pro_Font_Family/Sofia_Pro_Bold.otf");
}

@font-face {
    font-family: "Sofia_Pro_Regular";
    src: url("../fonts/Sofia_Pro_Font_Family/Sofia_Pro_Regular.otf");
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Sofia_Pro_Regular", sans-serif;
}

body{
    background-color: #000;
    overflow-x: hidden !important;
}

:root {
    --plyr-color-main: #9BFD00;
    --plyr-captions-text-color: transparent;
  }
  
.mt{
    margin: 100px 0;
}
.eurostile-bold{
    font-family: 'Eurostile_Bold', sans-serif !important;
}

.eurostile-black{
    font-family: 'Eurostile_Black', sans-serif !important;
}

.eurostile-extd{
    font-family: 'Eurostile_Extd', sans-serif !important;
}

.fz-20{
    font-size: 20px !important;
}

.fz-25{
    font-size: 25px !important;
}

.header{
    width: 100% !important;
    background: rgba(0, 0, 0, 0.42) !important;
    -webkit-backdrop-filter: blur(50px) !important;
    -moz-backdrop-filter: blur(50px) !important;
    backdrop-filter: blur(50px) !important;
}

.headerTop{
    background: transparent !important;
}

footer{
    background-color: #000;
}

@media screen and (max-width: 768px){

    .mt{
        margin: 50px 0;
    }

    footer{
        margin-bottom: 120px;
    }

    .fz-20{
        font-size: 17px !important;
    }
    
    .fz-25{
        font-size: 22px !important;
    }
}

footer .social{
    padding-left: 0 !important;
}

footer .social li{
    display: inline-block;
}

footer .social li a{
    color: rgba(185, 185, 185, 0.41);
    padding-right: 10px;
    transition: .4s;
    font-size: 24px;
}

footer .social li a:hover {
    color: #fff;
}

#spot-bg{
    /* background-image: url(../images/spot-bg.png); */
    background-color: #000;
    width: 100%;
    background-position: center;
    background-size: contain;
}

.logo{
    width: 150px;
    height: 50px;
    object-fit: contain;
    object-position: center;
}

.para-color{
    color:    rgba(255, 255, 255, 0.50)
}

.primary-color{
    color: #9BFD00;
}

.ytp-title{
    display: none !important;
}

.ytp-title-enable-channel-logo .ytp-title-channel{
    display: none !important;

}

.ytp-embed:not(.ad-showing) .ytp-title-text{
    display: none !important;

}