
@font-face {
    font-family: "Sofia_Pro_Regular";
    src: url("../fonts/Sofia_Pro_Font_Family/Sofia_Pro_Regular.otf");
}

#team {
    background-image: url("../images/spot-bg.webp");
    background-color: #000;
    background-position: top right;
    background-size: cover;
    width: 100%;
    /* height: auto; */
}

.avatar{
    width: 80px;
    height: 80px;
    object-fit: contain;
    object-position: center;
    border-radius: 50%;
    transform: translateY(-15px);
}

.text-purple{
    color: #9B8BFF;
    text-transform: uppercase;
    font-family: 'Sofia_Pro_Regular',serif;
    font-size: 20px;
}

.text-warn{
    color: #FFD19A;
    text-transform: uppercase;
    font-family: 'Sofia_Pro_Regular',serif;
    font-size: 18px;
}